/* GENERAL STYLES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--white);
}
:root {
  /*Primary colors*/
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  /*Neutral colors*/
  --background: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --font-size: 16px;
  --font-family: "Spartan", sans-serif;
  --white: #fff;
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jobs {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-card {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 280px;
  height: 280px;
}
