/* GENERAL STYLES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jobs {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-card {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 280px;
  height: 280px;
}
